# Hypothesis Testing Exercise

### Question-1

In [3]:
import numpy as np
import pandas as pd 
from scipy import stats
from scipy.stats import norm

In [18]:
a = pd.read_csv('Cutlets.csv')
a

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [19]:
a.drop(["Unit B"], axis= 1, inplace= True)
a

    Unit A
0   6.8090
1   6.4376
2   6.9157
3   7.3012
4   7.4488
5   7.3871
6   6.8755
7   7.0621
8   6.6840
9   6.8236
10  7.3930
11  7.5169
12  6.9246
13  6.9256
14  6.5797
15  6.8394
16  6.5970
17  7.2705
18  7.2828
19  7.3495
20  6.9438
21  7.1560
22  6.5341
23  7.2854
24  6.9952
25  6.8568
26  7.2163
27  6.6801
28  6.9431
29  7.0852
30  6.7794
31  7.2783
32  7.1561
33  7.3943
34  6.9405

In [20]:
b = pd.read_csv('Cutlets.csv')
b

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [21]:
b.drop(["Unit A"], axis= 1, inplace= True)
b

    Unit B
0   6.7703
1   7.5093
2   6.7300
3   6.7878
4   7.1522
5   6.8110
6   7.2212
7   6.6606
8   7.2402
9   7.0503
10  6.8810
11  7.4059
12  6.7652
13  6.0380
14  7.1581
15  7.0240
16  6.6672
17  7.4314
18  7.3070
19  6.7478
20  6.8889
21  7.4220
22  6.5217
23  7.1688
24  6.7594
25  6.9399
26  7.0133
27  6.9182
28  6.3346
29  7.5459
30  7.0992
31  7.1180
32  6.6965
33  6.5780
34  7.3875

In [22]:
stats.ttest_ind(a,b)

Ttest_indResult(statistic=array([0.72286887]), pvalue=array([0.47223947]))

### Question-2

In [23]:
data = pd.read_csv('LabTAT.csv')
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [25]:
p_value= stats.f_oneway(data.iloc[:,0], data.iloc[:,1], data.iloc[:,2], data.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [26]:
p_value[1]

2.1156708949992414e-57

### Question-3

In [30]:
df2= [[50,142,131,70], [550,351,480,350]]
df2

[[50, 142, 131, 70], [550, 351, 480, 350]]

In [31]:
stat, p, dof, expected = stats.chi2_contingency(df2)
print(f'P-value = {p}')
print(f"Degrees of freedom = {dof}")
print(p)

P-value = 2.682172557281901e-17
Degrees of freedom = 3
2.682172557281901e-17

In [32]:
prob= 0.95

In [33]:
alpha = 1.0 - prob
print(f"alpha = {alpha}, p_value = {p} ")
if p<= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

alpha = 0.050000000000000044, p_value = 2.682172557281901e-17
Dependent (reject H0)

### Question-4

In [34]:
df= [[29,33,31,20],[271,267,269,280]]
df

[[29, 33, 31, 20], [271, 267, 269, 280]]

In [35]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2 
import numpy as np
stat, p, dof, expected = stats.chi2_contingency(df)
print('dof=%d' % dof)
print(p)

dof=3
0.2771020991233135

In [36]:
alpha = 0.05
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

significance=0.050, p=0.277
Independent (fail to reject H0)